# Carpetas de desarrollo
.vscode/
.idea/
_pycache_/
.ipynb_checkpoint

# Entornos virtuales
.env
.venv/
.venv*/
.venv_jupyter/
env/
venv/
ENV/

# Archivos de configuración y dependencias*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.ipynb
.git/

# Logs y archivos temporales
logs/
*.log
tmp/
*.tmp
*.swp

# GESTIÓN DE DATOS 
data/*
# expepciones
!data/docs/              # Documentación y manifiesto
!data/terraform/         # Código fuente de los ejemplos (.tf)
!data/optimized_chunks/  # PDFs del libro procesados

# Archivos de sistema
.DS_Store
Thumbs.db