# Carpetas de desarrollo
.vscode/
.idea/
_pycache_/
.ipynb_checkpoint

# Entornos virtuales
.env
.venv/
.venv*/
.venv_jupyter/
env/
venv/
ENV/



# Archivosme los puedes de configuración y dependencias
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.ipynb
.git/

# Logs y archivos temporales
logs/
*.log
tmp/
*.tmp
*.swp
data/
logs/

# Archivos de sistema
.DS_Store
Thumbs.dbs de sistema
.DS_Store
Thumbs.db