# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# === Entornos virtuales ===
.venv/
venv/
ENV/
env/
.python-version

# -- LOGS --
logs/

# --- Jupyter and notebooks ---
.ipynb_checkpoints/
*.nbconvert.ipynb

# === Config y variables locales ===
.env
!.env.example 
.envrc

# === Docker ===
*.pid
*.log
docker-compose.override.yml
qdrant_data/

# === Terraform ===
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.terraform.lock.hcl

# === Logs ===
logs/*
!logs/.gitkeep
!logs/app/.gitkeep

# === IDEs y sistema ===
.vscode/
.idea/
.DS_Store
Thumbs.db

# === Archivos temporales ===
.cache/
__pycache__/
*.lock
