streamlit
python-dotenv
pymupdf
pinecone-client
langchain
langchain-openai
langchain-community
langchain-pinecone
openai
fastapi
uvicorn
tiktoken
pandas
gtts
langchain-chroma
chromadb==1.2.1
langchain-chroma==1.0.0
pypika==0.48.9
langchain-core
langchain-google-genai==3.0.0
qdrant-client==1.15.1