--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchaudio==2.5.1+cpu
torchvision==0.20.1+cpu
python-dotenv
pymupdf
pypdf>=6.5.0

langchain==0.3.16
langchain-openai==0.2.14
langchain-community==0.3.16
langchain-huggingface

openai
fastapi
uvicorn
tiktoken
pandas
gtts
loguru
pypika
langchain-core
qdrant-client
langchain-qdrant
gradio==5.49.1
gradio-client==1.13.3
langchain-google-genai
PyYAML
sentence-transformers
typing-extensions
langgraph
boto3
