python-dotenv
pymupdf
pinecone-client
pypdf>=4.0.0


langchain==0.3.16
langchain-openai==0.2.14
langchain-community==0.3.16
langchain-pinecone
langchain-huggingface

openai
fastapi
uvicorn
tiktoken
pandas
gtts
loguru
pypika
langchain-core
qdrant-client
langchain-qdrant
gradio==4.44.0
gradio-client
langchain-google-genai
PyYAML
sentence-transformers
typing-extensions
langgraph
